<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InkSpace</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <aside class="left-nav">
        <div class="nav-top">
            <h1>InkSpace</h1>
            <div class="nav-links">
                <a href="/"><div class="nav-link"><i data-lucide="house"></i> Home</div></a>
                <a href="/write-blog"><div class="nav-link"><i data-lucide="square-pen"></i> Write Blog</div></a>
                <a href="/my-work"><div class="nav-link"><i data-lucide="archive"></i> My Work</div></a>
            </div>
        </div>
        <div class="user-profile">
            <a href="/welcome" class="user-profile-link-wrapper">
                <div class="user-profile-link"><i data-lucide="user"></i> <%= typeof username !== 'undefined' && username ? username : 'User' %></div>
            </a>
        </div>
    </aside>



